StreamingDemo/StreamingDemo.Client/Service References/serviceProxy/www.SOArUS.com.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.SOArUS.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.SOArUS.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.SOArUS.com/Imports">
      <xsd:import namespace="http://www.SOArUS.com" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DataStreamingContract_GetDataFileAsStream_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataFileAsStream" />
  </wsdl:message>
  <wsdl:message name="DataStreamingContract_GetDataFileAsStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataFileAsStreamResponse" />
  </wsdl:message>
  <wsdl:message name="MediaStreamingContract_GetMediaAsStream_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMediaAsStream" />
  </wsdl:message>
  <wsdl:message name="MediaStreamingContract_GetMediaAsStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMediaAsStreamResponse" />
  </wsdl:message>
  <wsdl:portType name="DataStreamingContract">
    <wsdl:operation name="GetDataFileAsStream">
      <wsdl:input wsaw:Action="http://www.SOArUS.com/DataStreamingContract/GetDataFileAsStream" message="tns:DataStreamingContract_GetDataFileAsStream_InputMessage" />
      <wsdl:output wsaw:Action="http://www.SOArUS.com/DataStreamingContract/GetDataFileAsStreamResponse" message="tns:DataStreamingContract_GetDataFileAsStream_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MediaStreamingContract">
    <wsdl:operation name="GetMediaAsStream">
      <wsdl:input wsaw:Action="http://www.SOArUS.com/MediaStreamingContract/GetMediaAsStream" message="tns:MediaStreamingContract_GetMediaAsStream_InputMessage" />
      <wsdl:output wsaw:Action="http://www.SOArUS.com/MediaStreamingContract/GetMediaAsStreamResponse" message="tns:MediaStreamingContract_GetMediaAsStream_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>